body {
	background-image: url('background%202.jpg');
	background-size: auto;
    background-position: right top;
	font-family: 'Trebuchet MS', 'Helvetica';
    width: auto;
    height: auto;
    text-align: center;
}

body a {
    width: auto;
    height: auto;
    float: left;
    color: black;
    background-color: orange;
    border: black solid 1px;
    border-radius: 10px;
    margin: inherit;
    padding: 5px;
    box-shadow: 0 3px #999;
}

a:hover {
    color: dimgray;
    background-color: #FFBA32;
}

a:active {  
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
