body {
    background-image: url('https://www.stockvault.net/data/2012/05/29/131258/preview16.jpg');
    background-size: cover;
    background-position: center top;
    font-family: 'Trebuchet MS', 'Helvetica';
    width: auto;
    height: auto;
    text-align: center;
}

h1 {
    color: orangered;
    font-size: 48px;
}
