body {
     background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Helvetica';
    width: auto;
    height: auto;
    text-align: center;
}

.footer {
    color: black;
    font-size: 15px;
    text-align: center;
    position:fixed;
    bottom:0;
}
