body {
	background-image: url('https://www.stockvault.net/data/2012/05/29/131258/preview16.jpg');
	background-size: cover;
    background-position: center top;
	font-family: 'Trebuchet MS', 'Helvetica';
    width: auto;
    height: auto;
    text-align: center;
}

body h1 {
	font-size: 32px;
    color: orangered;
}

header {
    color: black;
    text-align: center;
    background-color: #DBEBFF;
    border-radius: 10px;
    border: black solid 2px;
}

.buttons a {
    color: orangered;
    width: 100px;
    height: auto;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    text-align: center;
    background-color: beige;
    border-radius: 5px;
}

a:hover {
    color: red;
}

.main {
    text-align: center;
}

.main p {
    font-size: 24px;
    color: black;
}

.footer {
    color: black;
    font-size: 15px;
    text-align: center;
    position:fixed;
    bottom:0;
}
